# alias
# Detect which 'ls' flavor is in use
if ls --color >/dev/null 2>&1; then # GNU 'ls'
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

# List all files colorized in long format, including dot files
alias la="ls -lahF ${colorflag}"
alias ll="ls -lF ${colorflag}"

# Always use color output for 'ls'
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Find Files and Directories
alias fd='find . -type d -iname'
alias ff='find . -type f -iname'